li {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    text-align: center;
    padding: 8px;
    border-spacing: 5px;
    background: burlywood;
    width: 500px;
    margin: auto;

    
  }
  
  h1 {
    text-align: center;
  }
 
  h2 {
    text-align: center;
  }
  
 .create-form {
   display: table;
   margin: 0 auto;
   margin-bottom: 20px;

 }

  
  .form-group {
    margin-bottom: 20px;
  
   
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 